body{
	background-color:#609ddf;
	color:white;
}

.startSectionDIV{
	height: calc(100vh + 50px);
	width:100%;
}

.mediumSectionDIV{
	display:inline-block;
	width:100%;
}

.strip{
	height:6px;
	background-color:white;
	width:100%;
}

.centerPage{
	text-align:center;
	margin:20px;
}

.flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.emphasis{
		color:#df6260;
		text-shadow: 1px 2px 0px rgba(175, 59, 59, 0.5);
}

.titleSize{
	font-size:2em;
}

.viewButton,.viewButton:hover,.viewButton:active,.viewButton:hover:active{
    margin-top: 30px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 1.75em;
	cursor:pointer;
    font-weight: bold;
	text-decoration:none;
}

@media screen and (min-width: 780px){
	.titleSize{
		font-size:5em;
	}

	.viewButton,.viewButton:hover,.viewButton:active,.viewButton:hover:active{
		font-size:2.25em;
	}

	.centerPage{
		margin:40px;
	}
}

.card-img-top{
	object-fit:cover;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.h-100{
    border: solid 2px #df6260;
}

.image-overlay > * {
	transition: opacity 200ms linear, transform 200ms ease-out;
    opacity: 0;
    transform: translateY(2rem);
}

.image-overlay:hover > * {
	transition: opacity 200ms linear, transform 200ms ease-out;
    opacity: 1;
    transform: translateY(-2rem);
}

.image-overlay{
	opacity:0;
    height: calc(100% + 4px);
    width: 100%;
    position: absolute;

	background-color:rgba(0,0,0,0.75);

	transition: opacity 200ms linear, transform 200ms ease-out;
}

.image-overlay:hover{
	opacity:1;
}

.overlay-h1{
	color:white;
	position:relative;
	display:block;
	text-align:center;
	margin-top:10%;
	padding-top:5%;

}

.fullCenter, .fullCenter:hover{
	width:100%;
	height:100%;
	transform: translateY();

}

.overlay-text{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
	text-align:center;
}

.overlay-button,.overlay-button:hover{
	
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;
    background-color: transparent;
    border: solid 4px white;
    color: white;
	text-align:center;
	text-decoration: none;

}

.overlay-button2,.overlay-button2:hover{
    display: inline-block;
    background-color: transparent;
    border: solid 4px white;
    color: white;
	text-align:center;
	text-decoration: none;
	padding:4px;
	margin-right:10px;
}

.overlay-button-group{
	display:inline-block;
	width:100%;
	text-align:center;

}